.areas-map {
  width: 100%;
  max-width: 680px;
  margin: 24px 0 8px 0;
  border: 1px solid $border;
  display: block;
  filter: invert(0.92) hue-rotate(180deg) saturate(0.6);
}

.areas-button {
  @extend %button-base;
  display: inline-block;
  margin: 4px 0 24px;
}
