.areas-map {
  width: 80%;
  margin: 20px 0 10px 0;
  border: 0;
}

.areas-button {
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  font-weight: bold;
  transition: transform 500ms;
  will-change: transform;
  border: 1px solid black;
  text-decoration: none;
  color: rgb(33, 33, 33);
  display: inline-block;
  background: none;
  cursor: pointer;
}

.areas-button:hover {
  transform: translateY(3px);
}
