.contact-address {
  font-style: normal;
}

.contact-address a {
  color: darkred;
}

.contact-address span {
  color: initial;
  font-weight: bold;
}

.contact-address svg {
  margin: 10px 10px 0 0;
  width: 38px;
  height: 38px;
}
