.footer {
  border-top: 1px $color-border solid;
  margin-top: 10px;
  background-color: $color-footer-bg;

  @media only screen and (max-width: $bp-sm) {
    margin-bottom: 50px;
  }
}

.footer-divider {
  border-top: 1px $color-border solid;
  overflow: hidden;
}

.footer-left {
  padding-left: 20px;

  @media (min-width: $bp-md) {
    float: left;
  }

  @media (max-width: $bp-md - 1) {
    text-align: center;
  }
}

.footer-right {
  padding-right: 20px;

  @media (min-width: $bp-md) {
    float: right;
  }

  @media (max-width: $bp-md - 1) {
    text-align: center;
  }
}

.footer-link {
  color: $color-link-accent;
}

.social-icon {
  padding: 10px 20px;
  display: inline-block;
  @include hover-lift;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
