$navSelected: 1px solid black;
$navBorder: 1px solid transparent;

header {
  margin-bottom: 15px;
  text-align: center;
}

.headerText > h1 {
  font-size: 1.5em; 
  font-family: "Bangers";
}

.navLink {
  border-top: $navBorder;
  display: block;
  font-stretch: 115%;
}

.navLink:hover {
  border-top: $navSelected;
}

.navLink.selected {
  border-top: $navSelected;
} 
