@use './colours.scss';

@mixin full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.container {
    @include full-width;
    $border: 1px solid colours.$level4;
    border-top: $border;
    border-bottom: $border;
}

.background {
    height: 380px;
    position: relative;
    background-color: rgb(100 100 100); // fix load flicker
}

.heroTextbox {
    width: 75%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-shadow: 2px 2px black;
}