@mixin full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.container {
    @include full-width;
}

.background {
    height: 180px;
}

.heroTextbox {
    margin: auto;
    width: 80%;
    border: 3px solid green;
}