@use './colours.scss';

$linkColor: colours.$text-primary;
$defaultFontSize: 16px;
* {
  text-decoration: none;
  font-family: "DM Sans", -apple-system, "Segoe UI", Roboto, sans-serif;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  color: colours.$text-primary;
  line-height: 1.7;
}

a,p {
  color: $linkColor;
  font-size: $defaultFontSize;
}

span {
  font-size: $defaultFontSize;
}

.container {
  flex: 1;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
