$linkColor: rgb(33,33,33);

body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: -apple-system, Roboto, sans-serif, serif;
}

a,p {
  color: $linkColor;
  font-size: 14px;
}

body,
html {
  height: 100%;
}
