$linkColor: rgb(33,33,33);
$standardFontSize: 14px;

body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Slabo 13px";
}

h1 {
  font-size: $standardFontSize + 4px;
  width: 240px;
  text-align: left;
}

a,p {
  color: $linkColor;
  font-size: $standardFontSize;
}

body,
html {
  height: 100%;
}
