* {
    color: rgb(232, 231, 232);
    text-decoration: none;
}

$headerColor: rgb(211, 52, 81);

.headerText{
    font-weight: bold;
    font-size: 20px;
}

.navItem:hover {
    color: $headerColor;
}

.selected {
    color: $headerColor;
}

li.selected {
    border-top: 4px solid $headerColor;
}

header {
    display: flex;
}

ul {
    list-style-type: none;
    vertical-align: center;
    margin: 0;
}

ul > li {
    display: inline-block;
    padding: 0 15px 0 15px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 1.2em;
    text-align: center;
    line-height: 35px;
    padding: 5px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}