$navSelected: 5px solid black;
$navBorder: 1px solid transparent;

header {
  text-align: center;
}

.headerText > h1 {
  font-family: "Bangers";

  @media only screen and (max-width: 600px) { // mobile only
    font-size: 6.5vw;
  }
}

.navLink {
  border-top: $navBorder;
  display: block;
  font-family: "DM Sans";
  font-size: 1em;
  padding: 0.2em;
  margin: 0 5px 0 5px;
  will-change: auto;
  transition: border-width 0.2s linear;
}

.navLink:hover {
  border-top: $navSelected;
}

.navLink.selected {
  border-top: $navSelected;
} 
