$navSelected: 1px solid black;
$navBorder: 1px solid transparent;

header {
  text-align: center;
}

.headerText > h1 {
  font-size: 1.7em;
  font-family: "Bangers";

  // tighten logo against menu items - on mobile only
  @media only screen and (max-width: 600px) {
    margin-bottom: -12px;
  }
}

.navLink {
  border-top: $navBorder;
  display: block;
  font-stretch: 115%;
  font-size: 0.9em;
  padding: 0.2em;
}

.navLink:hover {
  border-top: $navSelected;
}

.navLink.selected {
  border-top: $navSelected;
} 
