* {
  text-decoration: none;
}

$navSelected: 1px solid black;
$navBorder: 1px solid transparent;

.headerText {
  font-size: 20px;
}

.headerText > h1 {
  font-size: 18px;
  line-height: 5px;
}

.navItem {
  display: block;
  width: 150px;
  padding: 0 0 5px 0;
  border-top: $navBorder;
}

.navItem:hover {
  border-top: $navSelected;
}

.navItem.selected {
  border-top: $navSelected;
}

header {
  display: flex;
}

ul {
  list-style-type: none;
  vertical-align: center;
  margin: 0;
}

ul > li {
  display: inline-block;
  padding: 0 15px 0 15px;
  line-height: 40px;
  text-align: center;
}
