{{- $type := .type -}} {{- $title := .title -}} {{- $short := .short | default
false -}} {{- $narrow := .narrow | default false -}}

<div class="hero-container">
    <div class="hero-background{{ if $short }} hero-background--short{{ end }}">
        {{- if eq $type "van" -}} {{ $img := resources.Get "images/Hero.jpg" }}
        {{ if $img }}
        {{ $imgWebp768  := $img.Resize "768x  Webp q95" }}
        {{ $imgWebp1200 := $img.Resize "1200x Webp q95" }}
        {{ $imgWebp1920 := $img.Resize "1920x Webp q95" }}
        {{ $imgWebp2400 := $img.Resize "2400x Webp q95" }}
        {{ $imgFallback := $img.Resize "1920x q80" }}
        <picture>
            <source
                type="image/webp"
                srcset="{{ $imgWebp768.RelPermalink }} 768w, {{ $imgWebp1200.RelPermalink }} 1200w, {{ $imgWebp1920.RelPermalink }} 1920w, {{ $imgWebp2400.RelPermalink }} 2400w"
                sizes="100vw"
            />
            <img
                src="{{ $imgFallback.RelPermalink }}"
                alt="Hero image of my van"
                loading="eager"
                data-main-image
            />
        </picture>
        {{ end }} {{- else -}} {{ $img := resources.Get "images/Beading.jpg" }}
        {{ if $img }}
        {{ $imgWebp768  := $img.Resize "768x  Webp q80" }}
        {{ $imgWebp1200 := $img.Resize "1200x Webp q80" }}
        {{ $imgWebp1920 := $img.Resize "1920x Webp q80" }}
        {{ $imgWebp2400 := $img.Resize "2400x Webp q80" }}
        {{ $imgFallback := $img.Resize "1920x q80" }}
        <picture>
            <source
                type="image/webp"
                srcset="{{ $imgWebp768.RelPermalink }} 768w, {{ $imgWebp1200.RelPermalink }} 1200w, {{ $imgWebp1920.RelPermalink }} 1920w, {{ $imgWebp2400.RelPermalink }} 2400w"
                sizes="100vw"
            />
            <img
                src="{{ $imgFallback.RelPermalink }}"
                alt="Hero image of beading"
                loading="eager"
                data-main-image
            />
        </picture>
        {{ end }} {{- end -}}
        <div class="hero-textbox">
            <h2 class="hero-title{{ if $narrow }} hero-title--narrow{{ end }}">
                {{ $title }}
            </h2>
        </div>
    </div>
</div>
