{{- $type := .type -}}
{{- $title := .title -}}
{{- $short := .short | default false -}}
{{- $narrow := .narrow | default false -}}

<div class="hero-container">
  <div class="hero-background{{ if $short }} hero-background--short{{ end }}">
    {{- if eq $type "van" -}}
      {{ $img := resources.Get "images/Hero.jpg" }}
      {{ if $img }}
        {{ $imgWebp := $img.Resize "1200x Webp" }}
        {{ $imgFallback := $img.Resize "1200x" }}
        <picture>
          <source srcset="{{ $imgWebp.RelPermalink }}" type="image/webp">
          <img src="{{ $imgFallback.RelPermalink }}" alt="Hero image of my van" loading="eager" data-main-image>
        </picture>
      {{ end }}
    {{- else -}}
      {{ $img := resources.Get "images/Beading.jpg" }}
      {{ if $img }}
        {{ $imgWebp := $img.Resize "1200x Webp" }}
        {{ $imgFallback := $img.Resize "1200x" }}
        <picture>
          <source srcset="{{ $imgWebp.RelPermalink }}" type="image/webp">
          <img src="{{ $imgFallback.RelPermalink }}" alt="Hero image of beading" loading="eager" data-main-image>
        </picture>
      {{ end }}
    {{- end -}}
    <div class="hero-textbox">
      <h2 class="hero-title{{ if $narrow }} hero-title--narrow{{ end }}">{{ $title }}</h2>
    </div>
  </div>
</div>
