<header>
  <div class="nav-grid">
    <div class="nav-logo-area">
      <a class="header-text" href="/">
        {{ $logo := resources.Get "images/Logo.png" }}
        {{ if $logo }}
        {{ $logo1x := $logo.Resize "40x40 Webp" }}
        {{ $logo2x := $logo.Resize "80x80 Webp" }}
        <img
          src="{{ $logo1x.RelPermalink }}"
          srcset="{{ $logo1x.RelPermalink }} 1x, {{ $logo2x.RelPermalink }} 2x"
          alt="Matty's Mobile Valeting Logo"
          width="40"
          height="40"
        />
        {{ end }}
        <h1>Matty's Mobile Valeting &amp; Detailing</h1>
      </a>
    </div>
    {{- $navItems := slice
      (dict "href" (site.GetPage "about-me").RelPermalink "label" "About Me")
      (dict "href" (site.GetPage "services-and-pricing").RelPermalink "label" "Services & Pricing")
      (dict "href" (site.GetPage "areas-covered").RelPermalink "label" "Areas Covered")
      (dict "href" (site.GetPage "contact-me").RelPermalink "label" "Contact Me")
    -}}
    {{- range $navItems -}}
    <div class="nav-link-item">
      <a
        href="{{ .href }}"
        class="nav-link{{ if eq $.RelPermalink .href }} selected{{ end }}"
        >{{ .label }}</a
      >
    </div>
    {{- end -}}
  </div>
</header>
