{{ define "main" }}
  {{ partial "hero.html" (dict "Page" . "type" "van" "title" "Friendly. Professional. Reliable." "narrow" true) }}

  <div class="intro-spacing">
    <div class="card-grid">
      {{ $year := now.Year }}
      {{ $established := 2004 }}
      {{ $yearsRunning := sub $year $established }}
      <div class="card-item card-item--intro">
        <div class="card">
          <div class="card-content">
            <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/></svg>
            <h2 class="card-header">Reputable</h2>
            <div class="card-description">
              <p>Established in {{ $established }}, I have been detailing for customers in Scarborough for over {{ $yearsRunning }} years. The quality of my work is reflected by my 5 star reviews on Google and Facebook.</p>
            </div>
          </div>
          <div class="card-actions">
            <a href="{{ (site.GetPage "about-me").RelPermalink }}" class="card-button">About Me</a>
          </div>
        </div>
      </div>

      <div class="card-item card-item--intro">
        <div class="card">
          <div class="card-content">
            <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.5 3l-.16.03L15 5.1 9 3 3.36 4.9c-.21.07-.36.25-.36.48V20.5c0 .28.22.5.5.5l.16-.03L9 18.9l6 2.1 5.64-1.9c.21-.07.36-.25.36-.48V3.5c0-.28-.22-.5-.5-.5zM15 19l-6-2.11V5l6 2.11V19z"/></svg>
            <h2 class="card-header">My Services</h2>
            <div class="card-description">
              <p>I provide a range of services and with the correct package, I will get your pride and joy looking as good as the day it came out of the showroom.</p>
            </div>
          </div>
          <div class="card-actions">
            <a href="{{ (site.GetPage "services-and-pricing").RelPermalink }}" class="card-button">Services &amp; Pricing</a>
          </div>
        </div>
      </div>

      <div class="card-item card-item--intro">
        <div class="card">
          <div class="card-content">
            <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.14 12.94c.04-.3.06-.61.06-.94 0-.32-.02-.64-.07-.94l2.03-1.58c.18-.14.23-.41.12-.61l-1.92-3.32c-.12-.22-.37-.29-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54c-.04-.24-.24-.41-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22L2.74 8.87c-.12.21-.08.47.12.61l2.03 1.58c-.05.3-.07.62-.07.94s.02.64.07.94l-2.03 1.58c-.18.14-.23.41-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61l-2.01-1.58zM12 15.6c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6 3.6 1.62 3.6 3.6-1.62 3.6-3.6 3.6z"/></svg>
            <h2 class="card-header">Flexible</h2>
            <div class="card-description">
              <p>I can come to you, whether it's your place of work or home. I'm available Monday - Saturday and I cover the entire Scarborough area, including most of North Yorkshire.</p>
            </div>
          </div>
          <div class="card-actions">
            <a href="{{ (site.GetPage "areas-covered").RelPermalink }}" class="card-button">Areas Covered</a>
          </div>
        </div>
      </div>

      <div class="card-item card-item--intro">
        <div class="card">
          <div class="card-content">
            <svg class="card-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/></svg>
            <h2 class="card-header">Get In Touch</h2>
            <div class="card-description">
              <p>I'm easy to get hold of, just call or leave me a message at your convenience.</p>
            </div>
          </div>
          <div class="card-actions">
            <a href="{{ (site.GetPage "contact-me").RelPermalink }}" class="card-button">Contact Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
